*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.main{
    margin: 4em;
}
.cont1{
    background-color:#FF4DA6;
    height : 8em;
    width : 100%;
    margin-bottom: 0.5em;
}
.cont2{
    height : 24em;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    overflow: hidden;
}
.sb-cont1{
    height : 100%;
    width : 60%;
    background-color: #FF037E;
    float : left;
}
.sb-cont2{
    height : 100%;
    float : right;
    width : 39%;
    background-color: #CE0468;
}
.cont3{
    height : 8em;
    background-color: #802755;
    margin-top:0.5em;
}